.tableWrapper {
    width: 100%;
    padding: 4px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.users-table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
        min-width: 200px;
        margin: 30px;
        cursor: pointer;
    }

    th {
        background-color: #f2f2f2;
        margin-right: auto;
        text-align: justify;
        position: relative;

        &.arrow-down::after {
            content: '\2193';
            display: inline-block;
            position: absolute;
            right: 15px;
            font-size: 18px;
        }
        &.arrow-up::after {
            content: '\2191';
            display: inline-block;
            position: absolute;
            right: 15px;
            font-size: 18px;
        }
    }

    th,
    td:not(:last-child) {
        border-right: 1px solid #ddd;
    }
}
